*.class
*.log
*.jbin

# sbt specific
.cache
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependenciesas
.worksheet
.idea

.project
.classpath

*.log
game_results.json
*~

stored_sources/
stored_history/
stored_views/

src_generated/

